<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="auth-helper-package" value="src\msal-dotnet-helper\bin\Debug" />
    <add key="graph-helper-package" value="src\msgraph-helper\bin\Debug" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <!-- See https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#example-nugetdefaultsconfig-and-application -->
</configuration>